body {
    background-color: #B3CAD6;
    color: ;
}
body h1 {
    text-align: center;
}
body details {
    font-size: large;
}
details summary {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}